<div ng-include="'templates/header.html'"></div>
<div class="in-wrap">
  
	<div class="list-group">

		<a class="list-group-item" href="#/login" ng-hide="isLogin" >登陆 
			<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

		<a class="list-group-item" href="#/user" ng-show="isLogin">个人中心 
			<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>	

	</div>
	<div class="blank10"></div>
	<div class="list-group">
		
		<a class="list-group-item" href="#/join" >招商加盟 
			<span class="glyphicon glyphicon-chevron-right pull-right"></span>
		</a>

		<a class="list-group-item" href="#/about" >关于我们 
			<span class="glyphicon glyphicon-chevron-right pull-right"></span>
		</a>

	</div>

	<div class="blank10"></div>
	<div class="list-group">
		
		<a class="list-group-item"  >客服电话 &nbsp &nbsp&nbsp 400-6646-777
			</a>
	</div>

</div>